.hierarchy-node {
  width: 120px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(154, 154, 154, 0.2);
  border-radius: 8px;
  padding: 12px 15px;
  text-align: center;
  transition: ease 0.15s;
  border: 2px solid #ddd;

  .topic-name {
    font-size: 12px;
  }
  .add-subtopic-button {
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(154, 154, 154, 0.2);
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: ease 0.15s;
  }
  .add-subtopic-button:hover {
    background-color: #f3f6f9;
  }
}

.hierarchy-node:hover {
  border: 2px solid #3c6792;
  scale: 1.05;
}

.hierarchy-node:active {
  background-color: #e4e9ef;
  scale: 1;
}