.node-toolkit {
  // transform-origin: center;
  position: absolute;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 154, 154, 0.2);
}

.node-toolkit > svg {
  width: 24px;
}

.toolkit-option {
  height: 45px;
  width: 90%;
  padding: 0 8px;
  // color: #AAA;
  color: #7f7f7f;
  font-size: 14px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
  border-radius: 8px;
  overflow-y: auto;
  cursor: grab;
}

.toolkit-option:active {
  cursor: grabbing;
}

.toolkit-option:hover {
  color: #1c1b1b;
}

.toolkit-option {
  svg {
    color: #383838;
  }
}


.add-node {
  /* width: 45px; */
  transition: ease 0.15s;
}

.add-node:hover {
  color: #444;
  box-shadow: 0 5px 10px rgba(154, 154, 154, 0.3);
  path {
    transition: ease 0.15s;
    stroke: #444;
  }
}

.add-gpt-node:hover {
  color: #444;
}

.add-gpt-node:hover path {
  stroke: #444;
}
