.subtopic-node {
    // border: 1px solid #0984e3;
    border: 1px solid grey;
    border-radius: 4px;
    // background-color: #c7e8fe;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 12px;
    width: 160px;
    text-align: center;
    font-weight: bold;
    background: #fff;
    color: #373737;
    // color: #0984e3;
    cursor: pointer;
    line-height: 1.2;

    .react-flow__handle-top {
        visibility: none;
      }

    .react-flow__handle-bottom {
        bottom: -24px !important;
        cursor: s-resize !important;
        width: 60px;
        height: 20px;
        border-radius: 3px;
        background-color: #e5e2e2;
      }

      .react-flow__handle-bottom:hover {
        background-color: #bfbfbf;
      }
}

// .subtopic-node.summary {
//   font-size: 24px;
// }

// .subtopic-node.keywords {
//     font-size: 28px;
// }

.subtopic-node:hover {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.subtopic-node:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}