.explore-flow {
  width: 100vw;
  height: 100vh;
  .reactflow-wrapper {
    width: inherit;
    height: inherit;
  }
}

.selected .node {
  outline: 2px solid #3ab2ee;
  // outline-offset: 2px;
}

.node-handle-direct {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  min-height: 4px;
  height: 4px;
  width: 10px;
}

.node-handle-expand {
  background: #aaa;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  min-height: 4px;
  height: 4px;
  width: 10px;
}

.drag-handle {
  position: absolute;
  top: 0;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}

.node-toolbar {
  height: fit-content;
  width: fit-content;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(154, 154, 154, 0.2);
  display: flex;
  gap: 10px;

  button {
    border: none;
    background: none;
    padding: 8px;
    font-size: 14px;
    color: #AAA;
    cursor: pointer;
    transition: ease 0.15s;
  }

  button:hover {
    color: #444;
    // border: 2px solid #eee;
  }
}

.semantic-route {
  color: #444;
  padding: 20px;
}