.explore-flow {
  width: 100vw;
  height: 100vh;
  .reactflow-wrapper {
    width: inherit;
    height: inherit;
  }
}

.drag-handle {
  position: absolute;
  top: 0;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}