.chat-node {
  position: relative;
  width: 525px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #fff;
  font-size: 14px;
  user-select: text;
  cursor: default;

  .drag-handle {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    cursor: grab;
  }

  .chat-input {
    display: flex;
    flex-direction: row;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 4px 6px;

    input {
      flex-grow: 2;
      border: none;
      background-color: #fff;
      font-size: 14px;
    }

    input::placeholder {
      color: #ddd;
    }


    input:focus {
      outline: none;
    }

    input::-webkit-search-cancel-button,
    input::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 4px;
      padding: 3px 6px;
      background: none;
      cursor: pointer;
      transition: ease 0.15s;

      svg path {
        stroke: #aaa;
      }
    }

    button:hover {
      background: #eee;
    }
  }

  .chat-input:focus-within { 
    border: 2px solid #ddd;
  }

  .chat-response {
    margin-top: 20px;
    white-space: pre-wrap;
    line-height: 1.4em;
    // border: 2px solid #98D2C4;
    // border: 2px solid #98D2C4;
    border-radius: 4px;
    padding: 6px;
    cursor: text;
  }

  .highlight-box {

  }
}

highlight-text {
  background-color: #d9f8f1;
  padding: 1px 0;
  border-radius: 2px;
  cursor: pointer;
  transition: ease 0.15s;
}

highlight-text:hover {
  background-color: #b2ecdd;
}


.highlight-elm {
  position: relative;
  display: inline-block;
}

.highlight-elm .highlight-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.15s;
}

.highlight-elm:hover .highlight-tooltip {
  visibility: visible;
  opacity: 1;
}