.topic-node {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: default;

  .topic-node-box {
    width: fit-content;
    height: fit-content;
    max-width: 525px;
    padding: 25px;
    border: 2px solid #ddd;
    // box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // -webkit-box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: ease 0.15s;
  }

  .topic-node-box:hover {
    border: 2px solid #bbec68;
  }

  .current-instance {
    background-color: #f3fae8;
    border: 2px solid #bbec68;
  }

  .topic-selected {
    border: 2px solid #3ab2ee;
  }
}

.topic-node:hover {
  user-select: text;
}