.hierarchy-toolbar {
  // width: 400px;
  // visibility: hidden;
  // opacity: 0;
  transition: ease 0.15s;

  .hierarchy-toolbar-box {
    border-radius: 12px;

    .default-buttons {
      display: flex;
      gap: 10px;
      button {
        background: #fff;
        border: none;
        border-radius: 6px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        padding: 10px;
        font-size: 14px;
        color: #aaa;
        cursor: pointer;
        transition: ease 0.15s;
      }
      button:hover {
        color: #444;
      }
    }
  }
}

.toolbar-top {
  margin-bottom: -10px;
  padding-bottom: 10px;
}

.toolbar-bottom {
  margin-top: -10px;
  padding-top: 10px;
}